*{
	margin:0;
	padding:0;
}

body{
	font-size:13px;
	color:#eee;
	font-family:Arial, Helvetica, sans-serif;
	background:url('img/bg.jpg') repeat-x #718693;
}

#page{
	/* The main container div */
	width:620px;
	margin:100px auto 0;
}

h1{
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
	overflow:hidden;
	height:90px;
}

#submissionForm{
	/* The search form. */
	background-color:#4C5A65;
	padding:50px 50px 30px;
	margin:80px 0;
	position:relative;

	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}

fieldset{
	border:none;
}

#comidId{
	/* The search text box. */

	border:none;
	color:#888888;

	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:385px;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* The submit button */


#submitButton{
	width:83px;
	height:36px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#submitButton:hover{
	background-position:left bottom;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#97cae6;
}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}